.customimg{
  height: auto;
  width: 200px;
}


:root{
 --primary:#ff0000;
 --secondary:#222;
 --light:#ffffff;
} 


.sk-white-color{
  color:var(--light);
  text-decoration: none;
}

.sk-heading{ 
  color: var(--primary);
}


    header{
      height: 500px;
      width: 100%;
      background-image: url(./header.png);
      background-size: cover;
      background-size: 100% 500px;
      background-repeat: no-repeat;
     background-position:center ;
      
    }
    
 
/* 
.rotate-bg{
height:600px;
top:-150px;
left:-100px;
transform: rotate(-12deg);
} */


.player-section{
  background:#c62828;
  height:400px;

  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 85%
  );
}

.customimg2{
  height:410px;
  width: 400px; 
}

.customicon{
 font-size: 3rem;
}


body{
  overflow-x: hidden;
}